{
    "plugins": ["transform-object-rest-spread", "external-helpers"],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["> 5%", "last 2 versions", "ie >= 8"],
                    "node": "current"
                },
                "modules": false
            }
        ]
    ]
}
