/**
 * @author:Ybao
 */

.eb.eb-visible-v.eb-scrolling-phantom > .eb-bar-v .eb-track,
.eb.eb-visible-h.eb-scrolling-phantom > .eb-bar-h .eb-track,
.eb.eb-visible-v > .eb-bar-v:hover .eb-track,
.eb.eb-visible-h > .eb-bar-h:hover .eb-track {
    background-color: rgba(255, 255, 255, 0.1);
}
.eb.eb-visible-v > .eb-bar-v .eb-thumb,
.eb.eb-visible-h > .eb-bar-h .eb-thumb {
    background-color: rgba(255, 255, 255, 0.15);
}
.eb.eb-visible-v.eb-scrolling-phantom > .eb-bar-v .eb-thumb,
.eb.eb-visible-h.eb-scrolling-phantom > .eb-bar-h .eb-thumb,
.eb.eb-visible-v > .eb-bar-v:hover .eb-thumb,
.eb.eb-visible-h > .eb-bar-h:hover .eb-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}
